//解決fload
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin Placecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media Query Manager
/*
0-600px       phone
600 -900px    Tablet portrait
900 - 1200px  Tablet landscape
(1200 - 1800) is where our normal styles apply

1800px+       Big desktop
*/

@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}
//會把所有Include respond-phone的內容寫回來

/*
$breakpoint argument choices;
-phone
-tab-port
-tap-land
-big-desktop

Order: Base + typography > general layout + grid > page layout > componments
*/
//如果用了px 如果用戶調整字體大小，則media query會失效(不會跟著變)
//所以要用em
//1em=16px 600px=37.5em
//only screen ，避免列印等其他狀況出問題
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tap-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
