//按鈕元件
.btn {
  /*也是一種selector 就像是超連結沒點過是藍色，點過是紫色*/
  //注意button沒有link和visited sedo
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /*如果要給padding、height 盡量給inline-block 避免擋到別人*/
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //改變<button>元素
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem) /*由上往下，所以是-的*/;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /*陰影越少，感覺越近*/

    &::after {
      transform: scaleX(1.4) scaleY(1.6); /*通常Y軸會變化比較小，強制加大*/
      opacity: 0; /*fade out*/
    }
  }
  &:active,
  &focus {
    transform: translateY(-0.1rem) /*是跟link做比較，所以會比hover下面一點*/;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary-light;
    color: $color-white;

    &::after {
      background-color: $color-primary-light;
    }
  }

  &::after {
    /*sedo element就像是原本element的child element，所以可用100%*/
    content: ""; /*必備，要初始化內容*/
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0; /*對應.btn:link,的position:relative;*/
    left: 0;
    z-index: -1; /*在btn後面*/
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s; /*最後一個為延遲animation-delay: */
    animation-fill-mode: backwards; /*起始狀態*/
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.2sec;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 1rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
